nav {
    text-align: right;
}

/*
nav ul {
    list-style: none;
}
*/

nav li {
    display: inline-block;
}

main section h1 {
    width: 100%;
    text-align: center;
}

.cards {
    display: flex;
}

.course, .makerMedium {
    display: inline-flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
    justify-items: space-between;
    background-color: gray;
    margin: 2%;
}