nav {
    text-align: right;
}

nav li {
    display: inline-block;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    color: white;
    background-color: blue;
}

.cards {
    display: flex;
    min-height: 300px;
}

.card {
    display: inline-flex;
    width: 20%;
    justify-items: space-between;
    background-color: grey;
    margin: 2%;
    border: solid blue 1px;
    padding: 10px;
}